.burger {
    display: none;
    align-items: center;
    position: relative;
    height: 22px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.burger:hover {
    opacity: 0.6;
}

@media (max-width: 700px) {
    .burger {
        display: flex;
    }
}